pydantic==2.10.6
sniffio==1.3.1
dictionary-learning==0.1.0
python-engineio==4.12.1
aiosignal==1.3.2
google-cloud-storage==2.19.0
bidict==0.23.1
tomli==2.2.1
evaluate==0.4.3
google-cloud-core==2.4.3
fancy-einsum==0.0.3
psutil==7.0.0
pip==25.2
babe==0.0.7
tzdata==2025.2
transformers-stream-generator==0.0.5
platformdirs==4.3.7
grpcio-status==1.73.1
google-cloud-bigquery==3.34.0
spacy-loggers==1.0.5
murmurhash==1.0.13
websockets==15.0.1
contourpy==1.3.1
jsonschema==4.24.0
docker-pycreds==0.4.0
httpcore==1.0.7
nvidia-cusparse-cu12==12.5.4.2
cloudpathlib==0.21.1
setuptools==78.1.0
wrapt==1.17.2
typeguard==4.4.2
python-dateutil==2.9.0.post0
fastjsonschema==2.21.1
xxhash==3.5.0
iniconfig==2.1.0
numba==0.61.0
distro==1.9.0
fonttools==4.56.0
gitdb==4.0.12
nvidia-cuda-runtime-cu12==12.6.77
transformers==4.55.4
pytest-profiling==1.8.1
tornado==6.4.2
wadler_lindig==0.1.4
jupyter-lsp==2.2.5
dill==0.3.8
datasets==2.21.0
pyasn1_modules==0.4.2
pynndescent==0.5.13
lxml==4.9.4
config2py==0.1.37
pandocfilters==1.5.1
fqdn==1.5.1
jsonpointer==3.0.0
flashtext==2.7
setproctitle==1.3.5
automated-interpretability==0.0.8
srsly==2.5.1
threadpoolctl==3.6.0
triton==3.3.0
nvidia-cublas-cu12==12.6.4.1
weasel==0.4.1
sae-lens==5.6.1
json5==0.12.0
rich==13.9.4
six==1.17.0
pyzmq==26.0.0
proto-plus==1.26.1
httpx==0.28.1
smart-open==7.1.0
safetensors==0.4.5
yarl==1.18.3
uvloop==0.21.0
mdurl==0.1.2
nvidia-curand-cu12==10.3.7.77
pytest==8.3.5
dol==0.3.14
babel==2.17.0
wcwidth==0.2.13
anyio==4.9.0
defusedxml==0.7.1
webcolors==24.11.1
PyYAML==6.0.2
nbconvert==7.16.6
langcodes==3.5.0
Pympler==1.1
ipython==8.34.0
jaxtyping==0.3.0
Send2Trash==1.8.3
nvidia-nvtx-cu12==12.6.77
arrow==1.3.0
cycler==0.12.1
prompt_toolkit==3.0.50
charset-normalizer==3.4.1
nvidia-cudnn-cu12==9.5.1.17
google-cloud-aiplatform==1.101.0
catalogue==2.0.10
sentencepiece==0.2.0
nvidia-cufile-cu12==1.11.1.6
terminado==0.18.1
sympy==1.14.0
beartype==0.14.1
multiprocess==0.70.16
grpcio==1.73.1
nvidia-cusparselt-cu12==0.6.3
orjson==3.10.16
jupyter_client==8.6.3
jupyterlab==4.4.4
nbclient==0.10.2
pyarrow==19.0.1
nbformat==5.10.4
pytz==2025.2
preshed==3.0.10
nnsight==0.3.7
einops==0.8.1
tqdm==4.67.1
ptyprocess==0.7.0
wandb==0.21.1
plotly==5.24.1
sae-bench==0.4.1
packaging==24.2
graze==0.1.29
huggingface-hub==0.34.4
frozenlist==1.5.0
pandas==2.2.3
plotly-express==0.4.1
docstring_parser==0.16
tiktoken==0.9.0
exceptiongroup==1.2.2
typer==0.12.5
jupyter_server_terminals==0.5.3
jupyterlab_pygments==0.3.0
sentry-sdk==2.24.1
wasabi==1.1.3
marisa-trie==1.2.1
traitlets==5.14.3
accelerate==1.5.2
referencing==0.36.2
mpmath==1.3.0
argon2-cffi-bindings==21.2.0
certifi==2025.1.31
circuitsvis==1.43.3
python-dotenv==1.1.0
jupyter_server==2.16.0
filelock==3.18.0
tinycss2==1.4.0
Jinja2==3.1.6
joblib==1.4.2
prettytable==3.16.0
beautifulsoup4==4.13.4
protobuf==6.32.0
click==8.1.8
rpds-py==0.25.1
seaborn==0.13.2
executing==2.2.0
debugpy==1.8.13
attrs==25.3.0
GitPython==3.1.44
pydantic_core==2.27.2
boostedblob==0.15.6
asttokens==3.0.0
notebook==7.4.3
multidict==6.2.0
fsspec==2024.6.1
simple-parsing==0.1.7
matplotlib==3.10.1
torchvision==0.22.0
annotated-types==0.7.0
scikit-learn==1.6.1
cachetools==5.5.2
nvidia-cuda-cupti-cu12==12.6.80
overrides==7.7.0
types-python-dateutil==2.9.0.20250516
argon2-cffi==25.1.0
zstandard==0.22.0
IProgress==0.4
grpc-google-iam-v1==0.14.2
pycparser==2.22
diffusers==0.33.1
hf-xet==1.1.8
prometheus_client==0.22.1
pure_eval==0.2.3
more-itertools==10.6.0
jupyterlab_server==2.27.3
jsonschema-specifications==2025.4.1
git-filter-repo==2.47.0
tabulate==0.9.0
comm==0.2.2
patsy==1.0.1
googleapis-common-protos==1.70.0
networkx==3.4.2
confection==0.1.5
blis==1.3.0
requests==2.32.3
spacy-legacy==3.0.12
nest-asyncio==1.6.0
appnope==0.1.4
h11==0.14.0
python-socketio==5.13.0
torch==2.7.0
jedi==0.19.2
llvmlite==0.44.0
aiohttp==3.11.14
tokenizers==0.21.1
blobfile==2.1.1
openai==1.93.0
mistune==3.1.3
markdown-it-py==3.0.0
jupyter_core==5.7.2
google-crc32c==1.7.1
language_data==1.3.0
rfc3986-validator==0.1.1
simple-websocket==1.1.0
tenacity==8.5.0
scipy==1.15.2
smmap==5.0.2
aiohappyeyeballs==2.6.1
stack-data==0.6.3
pycryptodomex==3.22.0
rfc3339-validator==0.1.4
regex==2024.11.6
ipykernel==6.29.5
isoduration==20.11.0
shellingham==1.5.4
jiter==0.10.0
cffi==1.17.1
cymem==2.0.11
spacy==3.8.7
importlib_resources==6.5.2
pluggy==1.5.0
soupsieve==2.7
google-auth==2.40.3
en_core_web_sm==3.8.0
numpy==1.26.4
webencodings==0.5.1
nvidia-nccl-cu12==2.26.2
async-timeout==5.0.1
better-abc==0.0.3
google-api-core==2.25.1
nvidia-nvjitlink-cu12==12.6.85
MarkupSafe==3.0.2
pyparsing==3.2.3
propcache==0.3.1
typing-inspection==0.4.0
rsa==4.9.1
urllib3==2.3.0
umap-learn==0.5.7
zipp==3.21.0
google-cloud-resource-manager==1.14.2
bleach==6.2.0
py2store==0.1.20
uri-template==1.3.0
wsproto==1.2.0
parso==0.8.4
python-json-logger==3.3.0
google-genai==1.24.0
nltk==3.9.1
i2==0.1.46
matplotlib-inline==0.1.7
idna==3.10
nvidia-cusolver-cu12==11.7.1.2
decorator==5.2.1
typing_extensions==4.13.0
nvidia-cufft-cu12==11.3.0.4
transformer-lens==2.15.0
pillow==11.1.0
pyasn1==0.6.1
pexpect==4.9.0
shapely==2.1.1
async-lru==2.0.5
kiwisolver==1.4.8
statsmodels==0.14.4
websocket-client==1.8.0
importlib_metadata==8.7.0
Pygments==2.19.1
gprof2dot==2024.6.6
notebook_shim==0.2.4
collectibles==0.1.5
pyperclip==1.9.0
nvidia-cuda-nvrtc-cu12==12.6.77
google-resumable-media==2.7.2
thinc==8.3.6
jupyter-events==0.12.0
